@import "base";

// colors
$primary: #f5ede7;
$secondary: #ffc3a0;
$tertiary: #0126de;

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.post-office {
  background-color: $tertiary;
  .post-office-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 0;
    justify-content: center;
    align-items: center;
  }
  .post-office-text {
    color: #fff;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.79px; /* 155.644% */
  }
  .post-office-input {
    padding: 14px 15px;
    border-radius: 10px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.25);
    margin: 0 8px;
    &::placeholder {
      color: rgba(0, 0, 0, 0.35);
      font-family: "Roboto", sans-serif;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 16.105px; /* 146.405% */
    }
  }
  .post-office-button {
    border-radius: 35px;
    border: 1px solid #fff;
    background: #fff;
    padding: 14px 29px;

    .post-office-button-text {
      color: #000;
      text-align: center;
      font-family: "Roboto", sans-serif;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 16.105px; /* 146.405% */
    }
  }
}
