@import "base";

// colors
$primary: #f5ede7;
$secondary: #ffc3a0;
$tertiary: #0126de;
$quaternary: #000;

// mixins
@mixin button-kits($bordercol, $width) {
  width: $width;
  height: 58px;
  border-radius: 35px;
  border: 1px solid $bordercol;
  background-color: transparent;
}
@mixin button-kits-text($col) {
  color: $col;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.002px; /* 154.553% */
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.post-office {
  background-color: $tertiary;
  .post-office-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    justify-content: center;
    align-items: center;
    .post-office-text {
      color: #fff;
      font-family: DM Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21.79px; /* 155.644% */
    }
    .post-office-input {
      padding: 14px 25px;
      border-radius: 10px;
      border: 1px solid #fff;
      background: rgba(255, 255, 255, 0.25);
      margin: 0 8px;
      max-width: 150px;
      &::placeholder {
        color: rgba(0, 0, 0, 0.35);
        font-family: "Roboto", sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.105px; /* 146.405% */
      }
    }
    .post-office-button {
      border-radius: 35px;
      border: 1px solid #fff;
      background: #fff;
      padding: 14px 29px;

      .post-office-button-text {
        color: #000;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.105px; /* 146.405% */
      }
    }
  }
}

.header {
  background-color: $primary;
  .header-wrapper {
    display: flex;
    padding-left: 24px;
    align-items: flex-end;
    .header-logo-pic {
      padding: 16px 0;
    }
    .navigators {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-left: 16px;
      .header-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding: 20px 0;

        .header-link {
          color: #000;
          font-family: DM Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 12.802px; /* 80.01% */
          text-transform: uppercase;
          text-decoration: none;
          &:hover,
          &:active,
          &:focus {
            color: rgb(80, 80, 80);
          }
        }
      }
      .header-auth {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 7px;
        padding-right: 23px;

        color: #000;
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.008px; /* 155.6% */

        user-select: none;
        cursor: pointer;
      }
    }
  }
}

.welcome {
  background-color: $secondary;
  .welcome-wrapper {
    display: flex;
    padding: 24px 15px;
    .welcome-desc {
      margin-right: 67px;
      .welcome-title {
        color: #000;
        font-family: Roboto;
        font-size: 76px;
        font-style: normal;
        font-weight: 400;
        line-height: 90px; /* 118.421% */
        margin-top: 82px;
        margin-bottom: 33px;
        max-width: 364px;
      }
      .welcome-p {
        color: #000;
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.008px;
        margin-bottom: 21px;
      }
      .welcome-button {
        @include button-kits($quaternary, 310px);
        .welcome-button-text {
          @include button-kits-text($quaternary);
        }
      }
    }
    .welcome-img {
      position: relative;
      .welcome-nav {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 25px 17px;
        gap: 5px;
        display: flex;
        .left-arrow {
          cursor: pointer;
        }
        .right-arrow {
          cursor: pointer;
        }
      }
    }
  }
}

.steps {
  background-color: $primary;
  .steps-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
    .steps-title {
      margin-top: 80px;
      margin-bottom: 63px;
      .steps-title-text {
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 43px;
        font-style: normal;
        font-weight: 400;
        line-height: 60.01px; /* 139.559% */
      }
    }
    .steps-each {
      display: flex;
      padding: 0 20px 42px;
      gap: 33px;
      .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        .step-title {
          color: #000;
          text-align: center;
          font-family: Roboto;
          font-size: 27px;
          font-style: normal;
          font-weight: 400;
          line-height: 35.996px; /* 133.32% */
          text-transform: uppercase;
          max-width: 207px;
        }
        .stepspc {
          max-width: 100px;
        }
        .step-desc {
          color: #000;
          text-align: center;
          font-family: DM Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28.008px; /* 155.6% */
          max-width: 326px;
        }
      }
    }
    .steps-button {
      @include button-kits($tertiary, 310px);
      .steps-button-text {
        @include button-kits-text($tertiary);
      }
    }
  }
}

.description {
  background-color: $primary;
  .desc-wrapper {
    padding: 72px 0;
    display: flex;
    gap: 48px;
    .desc-img {
      margin-left: 16px;
    }
    .desc-desc {
      display: flex;
      flex-direction: column;
      padding: 111px 0;
      gap: 23px;
      .desc-text {
        color: #000;
        font-family: Roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 56.023px; /* 140.057% */
        max-width: 649px;
      }
      .desc-button {
        @include button-kits($tertiary, 310px);
        .desc-button-text {
          @include button-kits-text($tertiary);
        }
      }
    }
  }
}

.pastry-kits {
  background-color: $primary;
  .kits-wrapper {
    padding: 72px 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .kits-card {
      .kits-card-title {
        color: #000;
        font-family: Roboto;
        font-size: 27px;
        text-transform: uppercase;
        max-width: 190px;
        margin-top: 12px;
      }
      .kits-card-price {
        font-family: DM Sans;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 9px;
      }

      .kits-card-button {
        @include button-kits($tertiary, 257px);
        margin-bottom: 24px;
        .kits-card-button-text {
          @include button-kits-text($tertiary);
        }
      }
    }
  }
}

.example {
  .example-wrapper {
    // display: flex;
    .example-card {
      padding-top: 65px;
    }
  }
}

.pros {
  background-color: $primary;
  .pros-wrapper {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .pros-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 459px;
      height: 600px;
      border-radius: 20px;
      border: 1px solid #000;
      padding: 25px;
      .pros-card-img {
        border-radius: 10px;
      }
      .pros-info {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .pros-card-title {
          color: #000;
          text-align: center;
          font-family: Roboto;
          font-size: 56px;
          max-width: 375px;
          margin-bottom: 20px;
        }
        .pros-first-title {
          max-width: 277px;
        }
        .pros-card-desc {
          color: #000;
          text-align: center;
          font-family: DM Sans;
          font-size: 18px;
          line-height: 28.008px;
        }
      }
    }
  }
}

.articles {
  background-color: $primary;
  .articles-wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 16px 180px;
    .articles-item {
      .articles-item-star {
        position: absolute;
        z-index: 0;
      }
      .first-star {
        right: 340px;
      }
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .second-star {
        bottom: -5250px;
        left: 615px;
      }
      .articles-item-info {
        z-index: 10000;
        padding: 48px 0;
        .articles-item-title {
          font-family: DM Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24.003px; /* 150.019% */
          text-transform: uppercase;
        }
        .articles-item-description {
          margin-top: 26px;
          margin-bottom: 22px;
          color: #000;
          font-family: Roboto;
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: 40.005px; /* 153.865% */
        }
        .articles-item-button {
          @include button-kits(black, 256px);
          .articles-item-button-text {
            @include button-kits-text(black);
          }
        }
      }
    }
  }
}

.instagram {
  .insta-wrapper {
    display: flex;
    flex-direction: column;
    .insta-title {
      color: #000;
      text-align: center;
      font-family: Roboto;
      font-size: 43px;
      font-style: normal;
      font-weight: 400;
      line-height: 60.01px; /* 139.559% */
      margin-top: 65px;
      margin-bottom: 15px;
    }
    .insta-items {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-bottom: 64px;
      gap: 24px;
    }
  }
}

.community {
  background-color: $primary;
  .community-wrapper {
    padding: 17px 0 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .community-title {
      color: #000;
      text-align: center;
      font-family: Roboto;
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: 72px; /* 144% */
      text-transform: uppercase;
    }
    .community-motto {
      color: #000;
      text-align: center;
      font-family: Roboto;
      font-size: 31px;
      font-style: normal;
      font-weight: 400;
      line-height: 43.992px; /* 141.91% */
      padding: 14px 0 24px 0;
    }
    .community-button {
      @include button-kits(black, 480px);
      border-radius: 10px;
      .community-button-text {
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        @include button-kits-text(black);
      }
    }
  }
}

.footer {
  background-color: $primary;
  .footer-wrapper {
    padding: 65px 16px;
    display: flex;
    flex-direction: column;
    .main-part {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 164px;
      .footer-items {
        .footer-insta {
          color: #000;
          font-family: Roboto;
          font-size: 23px;
          font-style: normal;
          font-weight: 400;
          line-height: 36.018px; /* 156.601% */
        }
        .footer-socials {
          margin-top: 24px;
          display: flex;
          flex-direction: row;
          gap: 8px;
        }
        .footer-item-menu {
          .footer-item-title {
            color: #000;
            font-family: Roboto;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 36.018px; /* 163.72% */
          }
          .footer-item-menu-chooser {
            display: flex;
            flex-direction: column;
            margin-top: 24px;

            .footer-chooser {
              color: #000;
              font-family: DM Sans;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24.003px; /* 150.019% */
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .copyright {
      margin-top: 67px;
      .copy-text {
        color: #000;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24.003px; /* 171.449% */
      }
    }
  }
}
