@import "base";

// colors
$primary: #f5ede7;
$secondary: #ffc3a0;
$tertiary: #0126de;
$quaternary: #000;

// mixins
@mixin button-kits($bordercol, $width) {
  width: $width;
  height: 58px;
  border-radius: 35px;
  border: 1px solid $bordercol;
  background-color: transparent;
}
@mixin button-kits-text($col) {
  color: $col;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.002px; /* 154.553% */
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.post-office {
  background-color: $tertiary;
  .post-office-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    justify-content: center;
    align-items: center;
    .post-office-text {
      color: #fff;
      font-family: DM Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21.79px; /* 155.644% */
    }
    .post-office-input {
      padding: 14px 25px;
      border-radius: 10px;
      border: 1px solid #fff;
      background: rgba(255, 255, 255, 0.25);
      margin: 0 8px;
      max-width: 150px;
      &::placeholder {
        color: rgba(0, 0, 0, 0.35);
        font-family: "Roboto", sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.105px; /* 146.405% */
      }
    }
    .post-office-button {
      border-radius: 35px;
      border: 1px solid #fff;
      background: #fff;
      padding: 14px 29px;

      .post-office-button-text {
        color: #000;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.105px; /* 146.405% */
      }
    }
  }
}

.header {
  background-color: $primary;
  .header-wrapper {
    display: flex;
    padding-left: 24px;
    align-items: flex-end;
    .header-logo-pic {
      padding: 16px 0;
    }
    .navigators {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-left: 16px;
      .header-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding: 20px 0;

        .header-link {
          color: #000;
          font-family: DM Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 12.802px; /* 80.01% */
          text-transform: uppercase;
          text-decoration: none;
          &:hover,
          &:active,
          &:focus {
            color: rgb(80, 80, 80);
          }
        }
      }
      .header-auth {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 7px;
        padding-right: 23px;

        color: #000;
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.008px; /* 155.6% */

        user-select: none;
        cursor: pointer;
      }
    }
  }
}

.welcome {
  background-color: $secondary;
  .welcome-wrapper {
    display: flex;
    padding: 24px 15px;
    .welcome-desc {
      margin-right: 67px;
      .welcome-title {
        color: #000;
        font-family: Roboto;
        font-size: 76px;
        font-style: normal;
        font-weight: 400;
        line-height: 90px; /* 118.421% */
        margin-top: 82px;
        margin-bottom: 33px;
        max-width: 364px;
      }
      .welcome-p {
        color: #000;
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.008px;
        margin-bottom: 21px;
      }
      .welcome-button {
        @include button-kits($quaternary, 310px);
        .welcome-button-text {
          @include button-kits-text($quaternary);
        }
      }
    }
    .welcome-img {
      position: relative;
      .welcome-nav {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 25px 17px;
        gap: 5px;
        display: flex;
        .left-arrow {
          cursor: pointer;
        }
        .right-arrow {
          cursor: pointer;
        }
      }
    }
  }
}

.steps {
  background-color: $primary;
  .steps-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
    .steps-title {
      margin-top: 80px;
      margin-bottom: 63px;
      .steps-title-text {
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 43px;
        font-style: normal;
        font-weight: 400;
        line-height: 60.01px; /* 139.559% */
      }
    }
    .steps-each {
      display: flex;
      padding: 0 20px 42px;
      gap: 33px;
      .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        .step-title {
          color: #000;
          text-align: center;
          font-family: Roboto;
          font-size: 27px;
          font-style: normal;
          font-weight: 400;
          line-height: 35.996px; /* 133.32% */
          text-transform: uppercase;
          max-width: 207px;
        }
        .stepspc {
          max-width: 100px;
        }
        .step-desc {
          color: #000;
          text-align: center;
          font-family: DM Sans;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28.008px; /* 155.6% */
          max-width: 326px;
        }
      }
    }
    .steps-button {
      @include button-kits($tertiary, 310px);
      .steps-button-text {
        @include button-kits-text($tertiary);
      }
    }
  }
}

.description {
  background-color: $primary;
  .desc-wrapper {
    padding: 72px 0;
    display: flex;
    gap: 48px;
    .desc-img {
      margin-left: 16px;
    }
    .desc-desc {
      display: flex;
      flex-direction: column;
      padding: 111px 0;
      gap: 23px;
      .desc-text {
        color: #000;
        font-family: Roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 56.023px; /* 140.057% */
        max-width: 649px;
      }
      .desc-button {
        @include button-kits($tertiary, 310px);
        .desc-button-text {
          @include button-kits-text($tertiary);
        }
      }
    }
  }
}

.pastry-kits {
  background-color: $primary;
  .kits-wrapper {
    padding: 72px 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .kits-card {
      .kits-card-button {
        @include button-kits($tertiary, 257px);
        .kits-card-button-text {
          @include button-kits-text($tertiary);
        }
      }
    }
  }
}
